<!-- app/views/layouts/printable.html.erb -->
<!DOCTYPE html lang="zh-CN">
<html>
  <head>
    <title> 欢迎来到葡萄院儿管理系统！</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body >
    <div id="main-container" class="container">
      <div class="row">
        <div class="span12">
                    <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>

